<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Report Generator </title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="{{ asset('build/css/global.css') }}"/>
	 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min
.js"></script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>CSMC</span></a>
            </div>

            <div class="clearfix"></div>

            <br />
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                  </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
                {% block body %}

                  <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Report Generator</h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <br>
					   
					   <div class="col-md-6 col-sm-12 col-xs-12 form-group">
						   <div class="col-md-3 col-sm-12 col-xs-12">	
								<button type="button" class="btn btn-info" name="select" value="clear" id="clear">Clear Selections</button>
							</div>
						</div> 
					   
					   <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Load Template</label>
								  <a href="#/question-circle" data-toggle="tooltip" title="Select already saved templates from the dropdown"><i class="fa fa-question-circle"></i></a>
                                  <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="select2_single form-control" tabindex="-1" id="load">
                                      <option></option>
									  {% for t in load %}
									  <option value="{{t.id}}">{{t.name}}</option>
									  {% endfor %}
                                     
                                    </select>
                                  </div>
						</div>
					   

                            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" action="/" method="POST">

                                
								<!--Entities list-->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group"> 
								<label class="control-label col-md-1 col-sm-3 col-xs-12">Entities</label>
									<a href="#/question-circle" data-toggle="tooltip" title="Select Entities"><i class="fa fa-question-circle"></i></a>
                                      <div class="col-md-11 col-sm-9 col-xs-12" name="Entity">									  
                                          <select class="select2_multiple form-control" multiple="multiple" id="entities" name="Entities[]">
                                            <option value="Absence" >Absence</option>
									<option value="Attendance" >Attendance</option>
									<option value="SessionAttendance" >Session Attendance</option>
									<option value="QuizAttendance" >Quiz Attendance</option>
									<option	value="ScheduledSessionAttendance" >Schedule Session Attendance</option>
									<option	value="WalkInAttendance" >Walk-in Attendance</option>
									<option	value="Course" >Course</option>
                                            <option	value="Department" >Department</option>
                                            <option value="Feedback" >Feedback</option>
                                            <option value="IpAddress" >Ip Address</option>
									<option value="PageVisit" >Page Visit</option>
                                            <option value="Permission" >Permission</option>
                                            <option value="Registration" >Registration</option>
                                            <option value="Request" >Request</option>
                                            <option value="Role" >Role</option>
                                            <option value="Room" >Room</option>
									<option value="Schedule" >Schedule</option>
                                            <option value="ScheduledShift" >Schedule Shift</option>
                                            <option value="Section" >Section</option>
                                            <option value="Semester" >Semester</option>
									<option value="Session" >Session</option>
									<option value="Quiz" >Quiz</option>
									<option value="ScheduledSession" >Schedule Session</option>
									<option value="Review" >Review</option>
									<option value="Rework" >Rework</option>
                                            <option value="Shift" >Shift</option>
                                            <option value="ShiftAssignment" >Shift Assignment</option>
                                            <option value="ShiftSubject" >Shift Subject</option>
									<option value="Subject" >Subject</option>
                                            <option value="Swipe" >Swipe</option>
                                            <option value="Timesheet" >Timesheet</option>
                                            <option value="Timeslot" >Timeslot</option>
									<option value="User" >User</option>
                                            <option value="Info" >User Info</option>
                                            <option value="Visit" >Visit</option>                                        
                                          </select>
                                      </div>
                              </div>
														
						 <div class="col-md-12 col-sm-12 col-xs-12 form-group">
						</div> 		
							  
						    
							  <!--Attribute list-->
                              <div class="col-md-6 col-sm-12 col-xs-12 form-group" id="Attributes_div">
                                  <label class="control-label col-md-2 col-sm-3 col-xs-12">Attributes</label>
								  <a href="#/question-circle" data-toggle="tooltip" title="Select Attributes"><i class="fa fa-question-circle"></i></a>
                                      <div class="col-md-10 col-sm-9 col-xs-12">
										<div id="hidden_div_Absence" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Absence</label>
                                          <select class="select2_multiple form-control" multiple="multiple" name="Absence_Attributes[]">
											<option value="assignment">assignment</option>
											<option value="reason">reason</option>
											<option value="status">status</option>
											<option value="substitute">substitute</option>
                                          </select>
										</div>
										<div id="hidden_div_Attendance" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Attendance</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Attendance_Attributes[]">
                                            <option value="timeIn"> Time in</option>
											<option value="timeOut">Time out</option>
											<option value="mentors">Mentors</option>
											<option value="id">User_id</option>
									    </select>
										</div>
										<div id="hidden_div_SessionAttendance" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Session Attendance</label>
										<select class="select2_multiple form-control" multiple="multiple" name="SessionAttendance_Attributes[]">
											<option value="grade">Grade</option>
											<option value="comments">Comments</option>
										</select>
										</div>
										<div id="hidden_div_QuizAttendance" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Quiz Attendance</label>
										<select class="select2_multiple form-control" multiple="multiple" name="QuizAttendance_Attributes[]">
											<option value="quiz">quiz</option>
											<option value="course">course</option>
											<option value="section">section</option>
											<option value="feedback">feedback</option>
										</select>
										</div>
										<div id="hidden_div_ScheduledSessionAttendance" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">ScheduledSessionAttendanceAttendance</label>
										<select class="select2_multiple form-control" multiple="multiple" name="ScheduledSessionAttendance_Attributes[]">
											<option value="timeslot">timeslot</option>
											<option value="swipes">swipes</option>
										</select>
										</div>
										<div id="hidden_div_WalkInAttendance" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Walk in Attendance</label>
										<select class="select2_multiple form-control" multiple="multiple" name="WalkInAttendance_Attributes[]">
											<option value="activity">activity</option>
											<option value="course">course</option>
											<option value="section">section</option>
											<option value="topic">topic</option>
											<option value="feedback">feedback</option>
										</select>
										</div>
										<div id="hidden_div_Course" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Course</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Course_Attributes[]" id="C1">
											<option value="department">Department</option>
											<option value="name">Course Name</option>
											<option value="number">Course number</option>
											<option value="sections">Sections</option>
											<option value="supported">Supported</option>
										</select>
										</div>
										<div id="hidden_div_Department" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Department</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Department_Attributes[]">
											<option value="name">name</option>
											<option value="abbreviation">abbreviation</option>
											<option value="courses">courses</option>
										</select>
										</div>
										<div id="hidden_div_Feedback" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Feedback</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Feedback_Attributes[]">
											<option value="user">user</option>
											<option value="message">message</option>
											<option value="postDate">postDate</option>
											<option value="type">type</option>
										</select>
										</div>
										<div id="hidden_div_File" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">File</label>
										<select class="select2_multiple form-control" multiple="multiple" name="File_Attributes[]">
											<option value="name">FileName</option>
											<option value="extension">File extension</option>
											<option value="type">Type</option>
											<option value="size">Size</option>
											<option value="data">Data</option>
										</select>
										</div>
										<div id="hidden_div_IpAddress" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Ipaddress</label>
										<select class="select2_multiple form-control" multiple="multiple" name="IpAddress_Attributes[]">
											<option value="address">address</option>
											<option value="room">room</option>
											<option value="swipes">Swipes</option>
										</select>
										</div>
										<div id="hidden_div_PageVisit" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Page Visit</label>
										<select class="select2_multiple form-control" multiple="multiple" name="PageVisit_Attributes[]">
											<option value="visit">Visit</option>
											<option value="route">Route</option>
											<option value="timestamp">Time Stamp</option>
										</select>
										</div>
										<div id="hidden_div_Registration" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Registration</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Registration_Attributes[]">
											<option value="user">user</option>
											<option value="time">time</option>
											<option value="timeslot">timeslot</option>
										</select>
										</div>
										<div id="hidden_div_Request" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Request</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Request_Attributes[]">
											<option value="user">user</option>
											<option value="session">session</option>
											<option value="timeRequested">time requested</option>
											<option value="timeLastUpdated">time of last update</option>
											<option value="startDate">start date</option>
											<option value="endDate">end date</option>
											<option value="topic">topic</option>
											<option value="studentInstructions">student Instructions</option>
											<option value="type">type</option>
											<option value="status">status</option>
											<option value="sections">sections</option>
											<option value="files">files</option>
											<option value="uploadedFiles">uploaded files</option>
										</select>
										</div>
										<div id="hidden_div_Role" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Role</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Role_Attributes[]">
											<option value="name">name</option>
											<option value="users">users</option>
										</select>
										</div>
										<div id="hidden_div_Room" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Room</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Room_Attributes[]">
											<option value="building">building</option>
											<option value="floor">floor</option>
											<option value="number">room number</option>
											<option value="description">description</option>
											<option value="capacity">capacity</option>
											<option value="active">active</option>
										</select>
										</div>
										<div id="hidden_div_Schedule" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Schedule</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Schedule_Attributes[]">
											<option value="shifts">shifts</option>
											<option value="scheduledShifts">Scheduled Shifts</option>
											<option value="semester">Semester</option>
										</select>
										</div>
										<div id="hidden_div_ScheduledShift" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Scheduled shift</label>
										<select class="select2_multiple form-control" multiple="multiple" name="ScheduledShift_Attributes[]">
											<option value="date">date</option>
											<option value="shift">shift</option>
											<option value="assignments">assignments</option>
											<option value="schedule">schedule</option>
										</select>
										</div>
										<div id="hidden_div_Section" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Section</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Section_Attributes[]">
											<option value="course">course</option>
											<option value="number">number</option>
											<option value="semester">semester</option>
											<option value="instructor">instructor</option>
											<option value="teaching_assistants">teaching assistants</option>
											<option value="students">Students</option>
										</select>
										</div>
										<div id="hidden_div_Semester" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Semester</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Semester_Attributes[]">
											<option value="season">season</option>
											<option value="year">year</option>
											<option value="startDate">Start date</option>
											<option value="endDate">end date</option>
											<option value="active">active</option>
											<option value="Schedule">Schedule</option>
										</select>
										</div>
										<div id="hidden_div_Session" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Session</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Session_Attributes[]">
											<option value="request">request</option>
											<option value="topic">topic</option>
											<option value="description">description</option>
											<option value="studentInstructions">student instructions</option>
											<option value="mentorInstructions">mentor instructions</option>
											<option value="sections">sections</option>
											<option value="graded">graded</option>
											<option value="numericGrade">numeric grade</option>
											<option value="active">active</option>
											<option value="files">files</option>
											<option value="uploadedFiles">uploaded files</option>
										</select>
										</div>
										<div id="hidden_div_Quiz" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Quiz</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Quiz_Attributes[]">
											<option value="startDate">start date</option>
											<option value="endDate">end date</option>
											<option value="room">room</option>
											<option value="attendances">attendances</option>
										</select>
										</div>
										<div id="hidden_div_ScheduledSession" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Scheduled session</label>
										<select class="select2_multiple form-control" multiple="multiple" name="ScheduledSession_Attributes[]">
											<option value="repeats">repeats</option>
											<option value="timeslots">timeslots</option>
										</select>
										</div>
										<div id="hidden_div_Review" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Review</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Review_Attributes[]">
										</select>
										</div>
										<div id="hidden_div_Rework" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Rework</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Rework_Attributes[]">
										</select>
										</div>
										<div id="hidden_div_Shift" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Shift</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Shift_Attributes[]">
											<option value="startTime">start time</option>
											<option value="endTime">end time</option>
											<option value="day">day</option>
											<option value="room">room</option>
											<option value="subjects">subjects</option>
											<option value="schedule">schedule</option>
											<option value="shiftLeader">shift leader</option>
										</select>
										</div>
										<div id="hidden_div_ShiftAssignment" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Shift assignment</label>
										<select class="select2_multiple form-control" multiple="multiple" name="ShiftAssignment_Attributes[]">
											<option value="scheduledShifts">schedule shift</option>
											<option value="subjects">subjects</option>
											<option value="mentor">mentor</option>
											<option value="session">session</option>
											<option value="absence">absence</option>
										</select>
										</div>
										<div id="hidden_div_ShiftSubject" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Shift Subject</label>
										<select class="select2_multiple form-control" multiple="multiple" name="ShiftSubject_Attributes[]">
											<option value="subject">subject</option>
											<option value="maxMentors">max mentors</option>
											<option value="mentors">mentors</option>
											<option value="shift">shift</option>
										</select>
										</div>
										<div id="hidden_div_Subject" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Subject</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Subject_Attributes[]">
											<option value="name">subject name</option>
											<option value="abbreviation">abbreviation</option>
											<option value="showOnCalendar">Show on calendar</option>
											<option value="order">order</option>
										</select>
										</div>
										<div id="hidden_div_Swipe" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Swipe</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Swipe_Attributes[]">
											<option value="ip">ip</option>
											<option value="time">time</option>
											<option value="valid">valid</option>
											<option value="user">user</option>
											<option value="legacy">legacy</option>
										</select>
										</div>
										<div id="hidden_div_Timesheet" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Timesheet</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Timesheet_Attributes[]">
											<option value="user">user</option>
											<option value="shifts">shifts</option>
											<option value="timeIn">timein</option>
											<option value="timeOut">timeout</option>
										</select>
										</div>
										<div id="hidden_div_Timeslot" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Time slot</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Timeslot_Attributes[]">
											<option value="session">session</option>
											<option value="assignments">assignments</option>
											<option value="room">room</option>
											<option value="capacity">capacity</option>
											<option value="scheduledTime">Scheduled time</option>
											<option value="startTime">Start time</option>
											<option value="endTime">End time</option>
											<option value="subMentor">sub mentor</option>
											<option value="registrations">registrations</option>
											<option value="attendances">attendances</option>
										</select>
										</div>
										<div id="hidden_div_User" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">user</label>
										<select class="select2_multiple form-control" multiple="multiple" name="User_Attributes[]">
											<option value="firstName">First name</option>
											<option value="lastName">Last name</option>
											<option value="username">username</option>
											<option value="info">info</option>
											<option value="scancode">Scan code</option>
											<option value="fac">fac</option>
											<option value="cardId">card ID</option>
											<option value="role">role</option>
											<option value="visits">visits</option>
										</select>
										</div>
										<div id="hidden_div_Info" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Info</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Info_Attributes[]">
											<option value="user">user</option>
											<option value="preferredName">preferredName</option>
											<option value="majors">majors</option>
											<option value="dateOfBirth">DOB</option>
											<option value="phoneNumber">phone number</option>
											<option value="email">email</option>
											<option value="dietaryRestrictions">dietary restrictions</option>
											<option value="additionalInformation">additional info</option>
											<option value="adminNotes">admin notes</option>
											<option value="specialities">specialities</option>
										</select>
										</div>
										<div id="hidden_div_Visit" style="display: none;">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Visit</label>
										<select class="select2_multiple form-control" multiple="multiple" name="Visit_Attributes[]">
											<option value="user">user</option>
											<option value="ip">ip</option>
											<option value="timestamp">timestamp</option>
											<option value="browser">browser</option>
											<option value="pageVisits">pagevisits</option>
										</select>
										</div>
                              </div>
							  </div>
							  <!--Aggregation based on what-->
                              <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Aggregation</label>
								  <a href="#/question-circle" data-toggle="tooltip" title="How to aggregate the selection"><i class="fa fa-question-circle"></i></a>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <select class="select2_multiple form-control" multiple="multiple" name="Aggregation">
                                              <option>Sum</option>
											  <option name="Count" value="Count">Count</option>
                                              <option>Average</option>
                                            </select>
                                        </div>
                              </div>
							<div class="col-md-6 col-sm-12 col-xs-12 form-group">
							</div> 
							  
							  <!--Group By functionality that populates itself-->
							  <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Group By</label>
								  <a href="#/question-circle" data-toggle="tooltip" title="Select how to group by the selected attributes" name="GroupBy"><i class="fa fa-question-circle"></i></a>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                          <select class="select2_multiple form-control" multiple="multiple" id="Groups">
                                            
                                          </select>
                                      </div>
                              </div>
							  
						<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						</div> 
							  
							 <!--Select Date range-->
                               <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Range</label>
								  <a href="#/question-circle" data-toggle="tooltip" title="Select the date range from the calendar" ><i class="fa fa-question-circle"></i></a>
                                  <div class="col-md-9 col-sm-9 col-xs-12">
								  From:
                                    <fieldset>
                                      <div class="control-group">
                                        <div class="controls">
                                          <div class="input-prepend input-group">
                   
                                           <input type="text" id="dateFrom" name="dateFrom[]" class="form-control" value="">
											
											To: <input type="text" id="dateTo" name="dateTo[]" class="form-control" value="">

                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                              </div>
                                
						<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						</div> 
							 
                                <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Time</label>
									<a href="#/question-circle" data-toggle="tooltip" title="Select the category of time"><i class="fa fa-question-circle"></i></a>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" id="Time">
                                          <option></option>
                                          <option value="Hourly">Hourly</option>
                                          <option value="Daily">Daily</option>
                                          <option value="Weekly">Weekly</option>
                                          <option value="Monthly">Monthly</option>
                                          <option value="Semesterly">Semesterly</option>
                                          <option value="Yearly">Yearly</option>
                                        </select>
                                    </div>
                                </div>
							 
						<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						</div> 
							 
						<div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Roles</label>
								<a href="#/question-circle" data-toggle="tooltip" title="Pick who can view this data"><i class="fa fa-question-circle"></i></a>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="col-md-4 col-sm-9 col-xs-12">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" value=""> Students
                                      </label>
                                    </div>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" value=""> Instructors
                                      </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-9 col-xs-12">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" value=""> Mentors
                                      </label>
                                    </div>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" value=""> Sponsors
                                      </label>
                                    </div>
                                </div>
                              </div>
                              </div>							 

                               <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="control-label col-md-7 col-sm-3 col-xs-12">Save Template</label>
								<a href="#/question-circle" data-toggle="tooltip" title="Enter the name to save the template"><i class="fa fa-question-circle"></i></a>
                                <div class="col-md-5 col-sm-9 col-xs-12">
                                  <div class="input-group">
                                      <input type="text" class="form-control" id="templateName">
                                      <span class="input-group-btn">
                                          <button type="button" class="btn btn-primary" id="save">Save</button>
                                      </span>
                                  </div>
                                </div>
                               </div>

                              <div class="form-group">
                                <div class="col-md-9 col-sm-12 col-xs-12">
                                   <div class="ln_solid"></div>
							<button type="submit" class="btn btn-success" name="select" value="report">Generate Report</button>
							<button type="submit" class="btn btn-success" name="select" value="graph">Generate Graph</button>
							<button type="submit" class="btn btn-success" name="select" value="csv">Download Report</button>
						</div>
						
                                       
                                </div>
                              </div>
								
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
					

                    <div class="x_panel">
					<table id="example1" class="table table=striped">

					<thead>
					<tr>
					{% for Counts in Count %}
					{{dump(Counts)}}
					{% endfor %}
					</tr>
					<tr>
						{% set break = false %}
						{% for entity in entities if not break %} 
							{% for a in entity['attributes']  %}
								<td>{{ a }}</td>
							{% endfor %}
							{% set break = true %}
						{% endfor %}
					</tr>
					</thead>
					
                        <tbody>
						{% for entity in entities %} 
							{% set e = entity['entity'] %}
							{% for a in entity['attributes'] %}
								<td>{{ attribute(e,a)}}</td>
							{% endfor %}
						<tr></tr>
						{% endfor %}
                        </tbody>
                    </table>
					
                  </div>
                {% endblock %}

          </div>
        </div>
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
		    <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			 <h4 class="modal-title" id="myModalLabel">Template Saved</h4> 
		    </div>
		    <div class="modal-body">
			    <p>The template has been saved.</p>
		    </div>
		  </div>
		</div>
	</div>	
			
	<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
		    <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			 <h4 class="modal-title" id="myModalLabel">Failed to Save</h4> 
		    </div>
		    <div class="modal-body">
			    <p>The template name already exists.</p>
		    </div>
		    <div class="modal-footer">
			 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			 <button type="button" class="btn btn-primary" id="overwrite">Overwrite</button>
		    </div>
		  </div>
		</div>
	</div>
		
	<div class="container">
        <canvas id="myChart"> </canvas>
    </div>
	<>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>	
    </div>
	<script
		src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	
	
	 <script>
	 $(function(){
		$('#entities option').mousedown(function(e){
		e.preventDefault();
		this.selected = !this.selected;
		var s= this.selected;
	
		if(s){
		console.log(this.value);
		console.log('#hidden_div_'+this.value+' select option');
		console.log($('#hidden_div_'+this.value+' select option'));
		$('#hidden_div_'+this.value+' select option').attr('data-entity',this.value);
			var elem=this;			
			if(elem.value=="Absence")
			{
				document.getElementById('hidden_div_Absence').style.display="block";
			}
			else if(elem.value=="Attendance")
			{
				document.getElementById('hidden_div_Attendance').style.display="block";
			}
			else if(elem.value=="SessionAttendance")
			{
				document.getElementById('hidden_div_SessionAttendance').style.display="block";
			}
			else if(elem.value=="QuizAttendance")
			{
				document.getElementById('hidden_div_QuizAttendance').style.display="block";
			}
			else if(elem.value=="ScheduledSessionAttendance")
			{
				document.getElementById('hidden_div_ScheduledSessionAttendance').style.display="block";
			}
			else if(elem.value=="WalkInAttendance")
			{
				document.getElementById('hidden_div_WalkInAttendance').style.display="block";
			}
			else if(elem.value=="Course")
			{
				document.getElementById('hidden_div_Course').style.display="block";
			}
			else if(elem.value=="Department")
			{
				document.getElementById('hidden_div_Department').style.display="block";
			}
			else if(elem.value=="Feedback")
			{
				document.getElementById('hidden_div_Feedback').style.display="block";
			}
			else if(elem.value=="IpAddress")
			{
				document.getElementById('hidden_div_IpAddress').style.display="block";
			}
			else if(elem.value=="PageVisit")
			{
				document.getElementById('hidden_div_PageVisit').style.display="block";
			}
			else if(elem.value=="Permission")
			{
				document.getElementById('hidden_div_Permission').style.display="block";
			}
			else if(elem.value=="Registration")
			{
				document.getElementById('hidden_div_Registration').style.display="block";
			}
			else if(elem.value=="Request")
			{
				document.getElementById('hidden_div_Request').style.display="block";
			}
			else if(elem.value=="Role")
			{
				document.getElementById('hidden_div_Role').style.display="block";
			}
			else if(elem.value=="Room")
			{
				document.getElementById('hidden_div_Room').style.display="block";
			}
			else if(elem.value=="Schedule")
			{
				document.getElementById('hidden_div_Schedule').style.display="block";
			}
			else if(elem.value=="ScheduledShift")
			{
				document.getElementById('hidden_div_ScheduledShift').style.display="block";
			}
			else if(elem.value=="Section")
			{
				document.getElementById('hidden_div_Section').style.display="block";
			}
			else if(elem.value=="Semester")
			{
				document.getElementById('hidden_div_Semester').style.display="block";
			}
			else if(elem.value=="Session")
			{
				document.getElementById('hidden_div_Session').style.display="block";
			}
			else if(elem.value=="Quiz")
			{
				document.getElementById('hidden_div_Quiz').style.display="block";
			}
			else if(elem.value=="ScheduledSession")
			{
				document.getElementById('hidden_div_ScheduledSession').style.display="block";
			}
			else if(elem.value=="Review")
			{
				document.getElementById('hidden_div_Review').style.display="block";
			}
			else if(elem.value=="Rework")
			{
				document.getElementById('hidden_div_Rework').style.display="block";
			}
			else if(elem.value=="Shift")
			{
				document.getElementById('hidden_div_Shift').style.display="block";
			}
			else if(elem.value=="ShiftAssignment")
			{
				document.getElementById('hidden_div_ShiftAssignment').style.display="block";
			}
			else if(elem.value=="ShiftSubject")
			{
				document.getElementById('hidden_div_ShiftSubject').style.display="block";
			}
			else if(elem.value=="Subject")
			{
				document.getElementById('hidden_div_Subject').style.display="block";
			}
			else if(elem.value=="Swipe")
			{
				document.getElementById('hidden_div_Swipe').style.display="block";
			}
			else if(elem.value=="Timesheet")
			{
				document.getElementById('hidden_div_Timesheet').style.display="block";
			}
			else if(elem.value=="Timeslot")
			{
				document.getElementById('hidden_div_Timeslot').style.display="block";
			}
			else if(elem.value=="User")
			{
				document.getElementById('hidden_div_User').style.display="block";
			}
			else if(elem.value=="Info")
			{
				document.getElementById('hidden_div_Info').style.display="block";
			}
			else if(elem.value=="Visit")
			{
				document.getElementById('hidden_div_Visit').style.display="block";
			}
			else if(elem.value=="File")
			{
				document.getElementById('hidden_div_File').style.display="block";
			}
			
			$('#Groups').append($('<option>',{
			value:elem.value,
			text: elem.value
			}));
			
		}
		else{	
		var elem=this;
			if(elem.value=="Absence")
			{
				document.getElementById('hidden_div_Absence').style.display="none";
			}
			else if(elem.value=="Attendance")
			{
				document.getElementById('hidden_div_Attendance').style.display="none";
			}
			else if(elem.value=="SessionAttendance")
			{
				document.getElementById('hidden_div_SessionAttendance').style.display="none";
			}
			else if(elem.value=="QuizAttendance")
			{
				document.getElementById('hidden_div_QuizAttendance').style.display="none";
			}
			else if(elem.value=="ScheduledSessionAttendance")
			{
				document.getElementById('hidden_div_ScheduledSessionAttendance').style.display="none";
			}
			else if(elem.value=="WalkInAttendance")
			{
				document.getElementById('hidden_div_WalkInAttendance').style.display="none";
			}
			else if(elem.value=="Course")
			{
				document.getElementById('hidden_div_Course').style.display="none";
			}
			else if(elem.value=="Department")
			{
				document.getElementById('hidden_div_Department').style.display="none";
			}
			else if(elem.value=="Feedback")
			{
				document.getElementById('hidden_div_Feedback').style.display="none";
			}
			else if(elem.value=="IpAddress")
			{
				document.getElementById('hidden_div_IpAddress').style.display="none";
			}
			else if(elem.value=="PageVisit")
			{
				document.getElementById('hidden_div_PageVisit').style.display="none";
			}
			else if(elem.value=="Permission")
			{
				document.getElementById('hidden_div_Permission').style.display="none";
			}
			else if(elem.value=="Registration")
			{
				document.getElementById('hidden_div_Registration').style.display="none";
			}
			else if(elem.value=="Request")
			{
				document.getElementById('hidden_div_Request').style.display="none";
			}
			else if(elem.value=="Role")
			{
				document.getElementById('hidden_div_Role').style.display="none";
			}
			else if(elem.value=="Room")
			{
				document.getElementById('hidden_div_Room').style.display="none";
			}
			else if(elem.value=="Schedule")
			{
				document.getElementById('hidden_div_Schedule').style.display="none";
			}
			else if(elem.value=="ScheduledShift")
			{
				document.getElementById('hidden_div_ScheduledShift').style.display="none";
			}
			else if(elem.value=="Section")
			{
				document.getElementById('hidden_div_Section').style.display="none";
			}
			else if(elem.value=="Semester")
			{
				document.getElementById('hidden_div_Semester').style.display="none";
			}
			else if(elem.value=="Session")
			{
				document.getElementById('hidden_div_Session').style.display="none";
			}
			else if(elem.value=="Quiz")
			{
				document.getElementById('hidden_div_Quiz').style.display="none";
			}
			else if(elem.value=="ScheduledSession")
			{
				document.getElementById('hidden_div_ScheduledSession').style.display="none";
			}
			else if(elem.value=="Review")
			{
				document.getElementById('hidden_div_Review').style.display="none";
			}
			else if(elem.value=="Rework")
			{
				document.getElementById('hidden_div_Rework').style.display="none";
			}
			else if(elem.value=="Shift")
			{
				document.getElementById('hidden_div_Shift').style.display="none";
			}
			else if(elem.value=="ShiftAssignment")
			{
				document.getElementById('hidden_div_ShiftAssignment').style.display="none";
			}
			else if(elem.value=="ShiftSubject")
			{
				document.getElementById('hidden_div_ShiftSubject').style.display="none";
			}
			else if(elem.value=="Subject")
			{
				document.getElementById('hidden_div_Subject').style.display="none";
			}
			else if(elem.value=="Swipe")
			{
				document.getElementById('hidden_div_Swipe').style.display="none";
			}
			else if(elem.value=="Timesheet")
			{
				document.getElementById('hidden_div_Timesheet').style.display="none";
			}
			else if(elem.value=="Timeslot")
			{
				document.getElementById('hidden_div_Timeslot').style.display="none";
			}
			else if(elem.value=="User")
			{
				document.getElementById('hidden_div_User').style.display="none";
			}
			else if(elem.value=="Info")
			{
				document.getElementById('hidden_div_UserInfo').style.display="none";
			}
			else if(elem.value=="Visit")
			{
				document.getElementById('hidden_div_Visit').style.display="none";
			}
			else if(elem.value=="File")
			{
				document.getElementById('hidden_div_File').style.display="none";
			}
		
		}
		return false;
		});
	 });
	 
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
		});
	
	$(document).ready(function() {
		$("#dateFrom").datepicker();
	  });
	  
	$(document).ready(function() {
		$("#dateTo").datepicker();
	  });
 
	
	$(document).ready(function(){
	$('#Attributes_div select option').mousedown(function(e){
		var lookup= {{mapped|raw}};
		
		var s= this.selected;
		//if(s)
		//{
		var attri=this.value;
		var ent=$(this).data('entity');
		console.log($('#hidden_div_'+lookup[ent][attri].TargetEntity));
		$('#hidden_div_'+lookup[ent][attri].TargetEntity).show();
		//}
		});
	});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
	
	
	<!--Save Template-->
	<script>
		$(document).ready(function(){	
		$('#save').click(function() {
			save(false);
		});
		
		var save = function(override) {
			var obj = $('form').serializeJSON();
			var json_string = JSON.stringify(obj);
			
			$.ajax({
				url: "{{path('save_template')}}",
				type: "POST",
				data: {name: $('#templateName').val(), string: json_string, override: override},

			}).done(function (msg) {
				$("#successModal").modal('show');
			}).fail(function(jqXHR, textStatus, errorThrown){
				$("#failModal").modal('show'); 
				$('#overwrite').click(function() {
					save(true);
					$("#failModal").modal('hide'); 
				});
			}); 
		}
			
		});
	
	
	</script>
	
	
	<!--Load Template-->
	<script>
	
		$(document).ready(function(){
			
		$('#load').on('change',function(){
			
			var select=$(this).val();
			$.ajax({
                        type: 'POST',
                        url: "{{ path('loadTemplate')}}",
						data: {id:select},
						//dataType: 'json',
                        }).done(function(response){
					    // Deselect everything and hide divs before loading new template
					    $('form option').prop('selected', false);
					    $('[id^="hidden_div_"]').hide();
					    
						var obj=response;
						
						for(var key in obj)
						{
							for(var val in obj[key])	{
								// Select all options in JSON string
								$('option[value="'+obj[key][val]+'"]').prop('selected',true).change();
								
								// Check to see if the div exists before trying to display it
								if ($('#hidden_div_'+obj[key][val]).length)
									document.getElementById('hidden_div_'+obj[key][val]).style.display="block";
							}
						}
					});
					});
		});
	</script>
	
	 <script>
            var room = [];
            var roomUsed = [];
            $.ajaxSetup({
                async: false
            });
            $.getJSON('http://34.215.72.243/sTemp.php', function(data) {
                for (var i = 0; i < data.DS.length; i++) {
                        year.push(data.DS[i].year);
                        students.push(data.DS[i].students);
                    }
            });

            let myChart = document.getElementById("myChart").getContext('2d');
            //console.log(students); 
            let chart = new Chart(myChart, {
                type:'bar', // Bar, pie, line etc
                data:{
	            labels: year,
                    datasets:[{
                        label:'Old Students',
                        data: students,
                        backgroundColor: 'yellow',
                    }]
                },
                options:{}
            });
    </script>
    
    <!--Clear Selections-->
    <script>
	$(document).ready(function(){	
		$('#clear').click(function() {
			$('option').prop('selected', false);
			$('[id^="hidden_div_"]').hide();
		});
		});
	 </script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="{{ asset('build/js/gentelella.js') }}"></script>
	
	
	 
  </body>
</html>