{% extends 'gentelella.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
	<table class="table table-striped">
		<thread>
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>User Name</th>
		</tr>
		</thead>
		{% for user in test_users %}
			<tr>
				<th scope="row">{{loop.index}}</th>
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.userName}}</td>
				
			</tr>
		{% endfor%}
		</tbody>
	</table>
{% endblock %}
	